@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto&display=swap');
   
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    
  }

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2023;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
}
h1{
   
    display: flex;
    background-color: #1f2023;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-top: solid 15px #4D6D63;
    border-bottom: solid 15px #4D6D63;
    border-left: solid 15px #1f2023;
    border-right: solid 15px #1f2023;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 800px;
    margin: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #D6E2DE;
    margin: 10px;
    padding: 30px;
    border: 2px solid #2b3d37 
}

legend {
    display: flex;
    background-color:#2b3d37;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: column;
}

.stretch {
    align-items: stretch;
    height: 30px;
    font-size: 18px;
    color: #888a7a;
}

.separador{ 
    display: flex;
    justify-content: center;
    width: 250px;
    border-top: dotted 10px #a6c1b9;
    align-self: center;
}



.small{
    font-size: small;
}

.dato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.dato2 {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 5px;
} 

textarea{
    display: flex;
    height: 100px;
}


.row {
    display: flex;
    flex-direction: row;
    align-self: left;
    padding: 5px;
}

input{
    text-align: end;
    padding: 7px;
}

input:focus,
textarea:focus {
    background-color: #4d6d63;
    color: #ffffff;
}

.obligatorio{
    color: #ffffff;
}

.columna {
    flex-direction: column;
}

span{
    display: flex;
}

.boton{ 
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-decoration: none;

} 

button {
    background-color: #2b3d37;
    color: #a6c1b9;
    padding: 10px;
    height: 50px;
    width: 160px;
    margin: 30px;
    border-radius: 5px;
    font-family: 'roboto';
    font-size: 18px;
    border-color: #3d584f;
    border-style:solid;
}

.fondoinput :focus {
    background-color: #4D6D63;
    color: #ffffff;
}

.fieldset :focus-within{
    background-color: #A6C1B9;
}


.inputblanco :focus {
    background-color: #ffffff;
    color: #1f2023;
    
}

.aceptnoved {
    color: #ffffff;
    align-items: flex-start;
    padding: 10px;
}

fieldset:focus-within {
    background-color: #a6c1b9;
}

fieldset:focus-within legend {
    background-color: #2b3d37;
}